/* CSS Document */
.related.products {
	clear: both;
}
.related.products h2{
	text-align:left;
}
.related.products ul.products li{
	min-height:414px;
}
.woocommerce .col2-set .col-1, 
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, 
.woocommerce-page .col2-set .col-2{
	max-width:48%;
}

a.checkout-button.wc-forward{
	float:right;
}


body.woocommerce-checkout ul.woocommerce-error {
    float: left;
    width: 98%;
    margin: 0 0 20px 0;
    border-bottom: 10px solid rgba(0,0,0,0);
}
	
body.woocommerce-checkout ul.woocommerce-error li {

	display: inline-block;
	float: left;
	font-size: 15px;
	padding: 7px 0 0 14px;
	padding-left: 14px;
	text-indent: 46px;
	width:100%;

}
#content-vw h2 {
	font-size: 20px;
	font-weight: normal;
	padding: 10px 0 10px 0;
	margin: 0 0 26px;
	background-color: rgba(225,198,92,0.4);
	color: #333;
	text-transform: capitalize;
}

.woocommerce-order ul.woocommerce-order-overview woocommerce-thankyou-order-details order_details{
	margin:0 0 10px 0;
	}
#content-vw ul {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 10px 0 20px;
    font-size: 16px;
}
.woocommerce .woocommerce-customer-details address{
	min-height:223px;
}
	
body.woocommerce-account div.container#content-vw div.middle-align div.woocommerce nav.woocommerce-MyAccount-navigation > ul {
	margin: 0;
	padding: 6px 6px 0.1px 6px;
	background-color: rgba(225, 198, 92,0.3);
	border: 0px solid rgba(0,0,0,0.2);
}

.copyright-wrapper {
	border-top:2px solid #e1c65c;
}

.copyright-wrapper .widget.widget_nav_menu {
	
}

.copyright-wrapper .widget.widget_nav_menu ul.menu {
	margin:0;
	padding:0;/*margin and padding always 0 in "ul"*/
	
}


.copyright-wrapper .widget.widget_nav_menu ul.menu li.menu-item {
	list-style:none;
}


.copyright-wrapper .widget.widget_nav_menu ul.menu li.menu-item a{
	color:#333;
	font-size:16px;
	line-height:18px;
}
.copyright-wrapper .widget.widget_nav_menu ul.menu li.menu-item a:hover{
	color:rgba(225,198,92);
}
.copyright-wrapper {
	padding:15px 0 0 0;
	background-color:rgba(0,0,0,0.03);
}
		
.copyright-wrapper .woocommerce ul li a {
	color: #333;
	font-weight:normal;
}

.copyright-wrapper .woocommerce ul li a:hover {
	color:rgba(225,198,92);
}

.copyright-wrapper .widget-title {
	font-size: 22px;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin-bottom: 20px;
}	

div.copyright p{
	text-align:center;
	color:#333;
	padding: 10px 0px 10px 0;
	}
	
.woocommerce table.my_account_orders thead {
	font-weight: normal;
	font-size: 14px;
}

.woocommerce-account .addresses .title h3 {
	font-size: 12px;
}


.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{
	line-height:30px;
	}
	
	form.woocommerce-form input[type="password"] {
	padding: 10px;
	border: 1px solid rgba(0,0,0,0.3);
}
form.woocommerce-EditAccountForm fieldset legend{
	position:absolute;
	text-align:right;
	background-color:transparent;
	font-size:12px;
	}
form.woocommerce-EditAccountForm fieldset {
	border-top: 1px solid rgba(0,0,0,0.3);
	position:relative;
	padding-top:30px;
	margin-top:40px;
}


body.woocommerce-account div.container#content-vw div.woocommerce-MyAccount-content header.woocommerce-Address-title.title h3 {
	font-size: 20px;
	color: #333;
}


.woocommerce-cart-form thead {
    font-weight: normal;
    font-size: 14px;
}

.woocommerce table.shop_table td{
	font-size:14px;
}

.woocommerce table.shop_table td a{
	color:#333;
}

.woocommerce table.shop_table td a:hover{
	color:rgba(225,198,92);
}


body.woocommerce-cart div.container#content-vw h2 {
    font-size: 22px;
    padding: 10px;
    background-color: #e1c65c;
    border: 1px solid rgba(0,0,0,0.2);
}

.woocommerce table.shop_table tbody:first-child tr {
    font-size: 14px;
}

.woocommerce-cart table.cart td.actions .coupon .input-text{
	line-height:18px;
}
.woocommerce .woocommerce-breadcrumb{
	margin: 22px 0;
}
.select2-container .select2-selection--single,
.checkout.woocommerce-checkout input[type="tel"]{
	padding: 10px 10px;
	
}
.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow{
	height: 54px;
}
.woocommerce-MyAccount-content .woocommerce-info{
	padding-right:0;
}
.woocommerce.archive ul.products li.product, 
.woocommerce-page.archive ul.products li.product{
	min-height:380px;
}
body.woocommerce-checkout ul.woocommerce-error{
	position: relative;
	top: 10px;
	background-color: transparent;
	border-top-color: transparent;
}
#comments {	
	float: left;
	width: 100%;
}
#comments a.comment-reply-link,
#comments a.comment-reply-link:hover{
	background: #e1c65c;
	color:#fff;
	font-size:12px;
}
#sidebar button[type="submit"] {
	background: #e1c65c;
	color: #fff;
	padding: 15px;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 2px;
	width: 100%;
	border:1px solid #e1c65c;
	cursor:pointer;
}

.wp_breadcrumb ul {
	margin: 0 0 1em 0;
	list-style: none;
}

.wp_breadcrumb ul li {
	display: inline-block;
}

.wp_breadcrumb ul li a {
	text-decoration: underline;
}

.wp_breadcrumb ul li a:hover {
	text-decoration: underline;
}

.wp_breadcrumb ul li a:after {
	content: '\003E';
	display: inline-block;
	margin: 0 14px 0 12px;
}